.row
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Name
        %th Month
        %th Number left to explain
        %th Download
    %tbody
      - @exports.each do |export|
        %tr
          %td= export.id
          %td= export.name
          %td= export.date
          %td= export.n_to_explain
          %td= link_to "Download Archive", export.s3_url if export.s3_url
