!!!
%html
  %head
    %title= "Invoice #{id}"
    %style
      = stylesheet
      body { font-family: Helvetica; } ;; Force to a font Wkhtmltopdf understands
  %body
    %div.center-block
      %p= "#{contact.first_name} #{contact.last_name}"
      %p= contact.organisation_name
      %h2.text-right= "Facture #{reference}"
      %h3.text-right= dated_on.strftime('%d/%m/%Y')
      %h4.text-right= "Exigible le #{due_on.strftime('%d/%m/%Y')}"
      %table.table.table-bordered
        %thead
          %tr
            %th= 'Quantité'
            %th= 'Description'
            %th= 'Prix unitaire HT. (€)'
            %th= 'TVA'
            %th= 'Sous-Total HT (€)'
        %tbody
        - if invoice_items.present?
          - invoice_items.each do |item|
            %tr
              %td= item.description
              %td= "#{item.quantity} #{item.item_type}"
              %td= item.price
              %td= "#{item.sales_tax_rate || 0}%"
              %td= item.price * item.quantity
        %tfoot
          %tr
            %td.text-right{ colspan: 3 }
              Eur HT Total
            %td= "#{net_value}€"
          %tr
            %td.text-right{ colspan: 3 }
              TVA
            %td= "#{sales_tax_value || 0}€"
          %tr
            %td.text-right{ colspan: 3 }
              %strong Eur Total
            %td
              %strong= "#{total_value}€"
      - if bank_transaction_explanations.present?
        %p Modalités de réglement
        %table
          %tbody
          - bank_transaction_explanations.each do |explanation|
            - transaction = explanation.bank_transaction
            %tr
              %td Référence de votre réglement:
              %td= transaction.id

