.ui.attached.stackable.menu
  .ui.container
    %a.header.item{href: root_path}
      = image_tag "freeagent-exporter.png", alt: "FreeAgent Exporter"
      FreeAgent Exporter
    - if current_user.nil?
      .right.item= link_to "Sign in with FreeAgent", user_omniauth_authorize_path(:freeagent)
    - else
      .ui.dropdown.link.item.right
        %span.text
          = gravatar_image_tag current_user.email, alt: current_user.email, gravatar: {size: 32, secure: true}, class: 'ui avatar image'
          = current_user.email
        %i.dropdown.icon
        .menu
          .header
            actions
          = link_to '<div class="item"><i class="money icon"></i> Bank Accounts</div>'.html_safe, bank_accounts_path
          = link_to '<div class="item"><i class="sign out icon"></i> Sign Out</div>'.html_safe,  destroy_session_path, method: :delete

