%th.col-xs-2= Date::MONTHNAMES[archive.month]
%td.col-xs-2{class: "status status-#{archive.current_state}"}= archive.current_state.titleize
%td.col-xs-5= status_explanation(archive)
%td.col-xs-2= archive_action_link(archive)
%td.col-xs-1= archive_delete_link(archive)
