%td.collapsing= check_box(archive)
%td.collapsing= Date::MONTHNAMES[archive.month]
%td{class: "collapsing status status-#{archive.current_state}"}= archive.current_state.titleize
%td= status_explanation(archive)
%td.collapsing
  = archive_action_link(archive)
%td.collapsing
  = other_action_link(archive)
