.row
  .two.wide.column.left.floated
    = link_to params.merge(year: @year.pred) do
      %i.chevron.left.icon
      = @year.pred
  .twelve.wide.column.center.aligned
    %h1
      = "Archives #{@year}"
      = render partial: "account_switcher"
  .two.wide.column.right.aligned.floated
    = link_to params.merge(year: @year.next) do
      = @year.next
      %i.chevron.right.icon
