= render partial: "year_switcher"

%h1
  = "Archives #{@year}"
  = render partial: "account_switcher"

.row
  %table.table.table-hover#archives
    %tbody
    - @archives.each do |archive|
      %tr.archive{id: "archive-#{archive.id}"}
        %th= Date::MONTHNAMES[archive.month]
        %td{class: "status status-#{archive.current_state}"}= archive.current_state.titleize
        %td.col-xs-4= explanation_if_failure(archive)
        %td= archive_action_link(archive)
