.ui.grid
  = render partial: "year_switcher"

  .row
    .sixteen.wide.column
      = form_tag archives_batch_update_path(operation: :start) do
        %table.ui.celled.table#archives
          %thead
            %tr
              %th
              %th Month
              %th Status
              %th Informations
              %th{colspan: '2'} Actions
          %tbody
          - @archives.each do |archive|
            %tr.archive{id: "archive-#{archive.id}"}= render partial: 'show', locals: {archive: archive}
          %tfoot
            %tr
              %th{colspan: '4'}
                = button_tag 'Unselect All', class: "ui button", id: "unselect_all", type: 'button'
                = button_tag 'Select All', class: "ui button", id: "select_all", type: 'button'
              %th{colspan: '2'}
                = submit_tag 'Generate selected archives', class: "ui button"
