%h1 Archives
.row
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Name
        %th Month
        %th Number left to explain
        %th Download
    %tbody
      - if @archives
        - @archives.each do |archive|
          %tr
            %td= archive.id
            %td= archive.name
            %td= archive.date
            %td= archive.n_to_explain
            %td= link_to_archive_or_generate archive
