!!!
%html
  %head
    %title Freeagent Exporter
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %a.navbar-brand{:href => root_path}
            %img{:alt => "FreeAgent Exporter", :src => "#"}
          = @company_name
    %p.notice= notice
    %p.alert= alert
    = yield
